<h2 class="text-center">Directiva ngFor - ngIf</h2>
<br /><br />
<button (click)="setHabilitar()" class="btn btn-primary my-3">{{ setEtiquetaBtn() }}</button>
<div class="card">
  <div class="card-header">Listado de cursos</div>
  <ul *ngIf="habilitar==true" class="list-group">
    <li *ngFor="let curso of listaCursos" class="list-group-item">
      {{ curso }}
    </li>
  </ul>
</div>
