  <ul class="pagination justify-content-center" *ngIf="paginas?.length > 0">
    <li class="page-item">
      <a [ngClass]="paginadorr.first? 'disabled': ''" [routerLink]="['/cliente/pagina', 0]" class="page-link">Primera</a>
    </li>

    <li class="page-item" [ngClass]="paginadorr.number < paginadorr.first==true? 'disabled': ''">
      <a class="page-link" [routerLink]="['/cliente/pagina', paginadorr.number -1]">Anterior</a>
    </li>

    <li *ngFor="let pagina of paginas" class="page-item" [ngClass]="pagina-1 == paginadorr.number? 'active': ''">
      <span class="page-link" *ngIf="pagina-1 == paginadorr.number">{{pagina}}</span>
      <a *ngIf="pagina-1 != paginadorr.number" [routerLink]="['/cliente/pagina', pagina-1]" class="page-link">{{pagina}}</a>
    </li>

    <li class="page-item" [ngClass]="paginadorr.last==true? 'disabled': ''">
      <a class="page-link" [routerLink]="['/cliente/pagina', paginadorr.number +1]">Siguiente</a>
    </li>

    <li class="page-item">
      <a [ngClass]="paginadorr.last? 'disabled': ''" [routerLink]="['/cliente/pagina', paginadorr.totalPages-1]" class="page-link">Ultima</a>
    </li>
  </ul>
