html{
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
}

.paddingPersonalizado{
  padding-bottom: 60px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
