<div *ngIf="factura" class="card bg-light">
  <div class="card-header bg-primary bg-opacity-75">
    {{titulo}}. {{factura.descripcion}}
  </div>
  <div class="card-body">
      <h4 class="card-title">
        <button [routerLink]="['/cliente']" class="btn btn-primary">&laquo; Regresar</button>
      </h4>
      <ul class="list-group my-2">
          <li class="list-group-item list-group-item-primary">Nombre del cliente</li>
          <li class="list-group-item">{{factura.cliente.nombre}} {{factura.cliente.apellido}}</li>
      </ul>
      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">Datos de la factura</li>
        <li class="list-group-item">Folio. {{factura.id}}</li>
        <li class="list-group-item">Descripción. {{factura.descripcion}}</li>
        <li class="list-group-item">Fecha. {{factura.fecha}}</li>
    </ul>
    <div class="table-responsive">
      <table class="table table-success table-striped table-hover my-2">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of factura.items">
            <td>{{item.producto.nombre}}</td>
            <td>{{item.producto.precio | currency: 'USD'}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.importe | currency: 'USD'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
      <h5 class="float-right mx-2">
        <span>Total. </span><br>
        <span class="badge badge-secondary">{{factura.total | currency: 'USD'}}</span>
      </h5>
      <div class="mx-2 card border-info mb-4">
        <div class="card card-header">
            Observaciones.
        </div>
        <div class="card card-body">
          <p *ngIf="!factura.observacion">Sin observaciones</p>
          <p *ngIf="factura.observacion">{{factura.observacion}}</p>
        </div>
      </div>

  </div>
</div>
