<div class="card bg-light">
  <div class="card-header bg-primary bg-opacity-75">
    <div class="text-center">
      {{ titulo }}
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <button [routerLink]="['/cliente']" class="btn btn-primary">
        &laquo; Regresar
      </button>
    </h4>
    <form #facturaForm="ngForm">
      <div class="row">
        <div class="col-sm-8 d-flex flex-column">
          <div *ngIf="factura.cliente" class="form-group row col-sm-6">
            <label for="txtCliente" class="form-label">Cliente</label>
            <input
              disabled
              value="{{ factura.cliente.nombre }} {{ factura.cliente.apellido }}"
              type="text"
              class="form-control"
              id="txtCliente"
            />
          </div>
          <div class="form-group row col-sm-6">
            <label for="txtDescripcion" class="form-label">Descripción</label>
            <input
              required #descripcion="ngModel"
              name="desc"
              [(ngModel)]="factura.descripcion"
              type="text"
              class="form-control"
              id="txtDescripcion"/>
              <div *ngIf="descripcion.invalid && descripcion.touched || descripcion.invalid && facturaForm.submitted" class="alert alert-danger">
                Descripcion de factura requerida
              </div>
          </div>
          <div class="form-group row col-sm-6">
            <label for="txtObservacion" class="form-label">Observaciones</label>
            <textarea
              name="obs"
              [(ngModel)]="factura.observacion"
              class="form-control"
              id="txtObservacion"
            ></textarea>
          </div>
          <div class="row form-group col-sm-6">
            <mat-form-field>
              <mat-label>Buscar producto</mat-label>
              <input
                type="text"
                placeholder="Añadir producto"
                aria-label="productos"
                matInput
                [formControl]="autocompleteControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="mostrarNombre"
                (optionSelected)="seleccionarProducto($event)">
                <mat-option
                  *ngFor="let producto of productosFiltrados | async"
                  [value]="producto">
                  {{ producto.nombre }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="autocompleteControl.invalid && facturaForm.submitted" class="alert alert-danger">
              Favor de agregar almenos un producto a factura
            </div>
          </div>
        </div>
        <div class="col">
          <h1><b>TOTAL.</b><br>{{factura.calcularTotal() | currency: "USD"}}</h1>
          <br>
          <input [disabled]="facturaForm.form.invalid || this.factura.items.length == 0" (click)="crearFactura(facturaForm)" type="submit" value="Crear factura" class="btn btn-primary" />
      </div>
      </div>

      <div *ngIf="factura.items.length == 0" class="alert alert-info my-5 text-center">
        Sin Registros de productos para registro de factura
      </div>
      <div class="table-responsive" *ngIf="factura.items.length > 0">
        <table class="table table-striped table-primary table-hover table-sm">
          <thead>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Importe</th>
            <th>Quitar item</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of factura.items">
              <td>{{item.producto.nombre}}</td>
              <td>{{item.producto.precio | currency: "USD"}}</td>
              <td class="text-center"> <input value="{{item.cantidad}}" min="0" (change)="actualizarCantidad(item.producto.id, $event)" type="number" name="cantidad" id="cantidad"> </td>
              <td>{{item.calcularImporte() | currency: "USD"}}</td>
              <td><button type="button" (click)="quitarItem(item.producto.id)" class="btn btn-danger btn-sm">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group row col-sm-6">

      </div>
    </form>
  </div>
</div>
