<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['/cliente']"
            >Clientes</a
          >
        </li>
      </ul>
      <a *ngIf="!authService.isAuthenticated()" class="btn btn-primary" aria-current="page" [routerLink]="['/login']">
        Inicar sesión</a>

        <div *ngIf="authService.isAuthenticated()" class="dropdown mx-2">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sesión actual
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">{{authService.usuario.username}} - {{authService.usuario.nombre}} {{authService.usuario.apellido}}</a></li>
            <button (click)="cerrarSesion()" type="submit" class="dropdown-item">Cerrar sesión</button>
          </ul>
        </div>

    </div>
  </div>
</nav>

