<div *ngIf="modalService.modal" class="abrir-modal animacion fadeIn">
  <div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button (click)="cerrarModal()" type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm text-center">
                <img *ngIf="cliente?.imagen == null"
                  src="http://localhost:8080/imagenes/blank-user-img.jpg"
                  alt="sin-imagen"
                  class="img-thumbnail rounded"/>
                <img *ngIf="cliente?.imagen"
                  src="http://localhost:8080/apiCliente/uploads/img/{{cliente.imagen}}"
                  alt="{{ cliente.imagen }}"
                  class="img-thumbnail rounded"/>
              </div>
              <div class="col-sm">
                <ul class="list-group text-dark">
                  <li class="list-group-item">{{ cliente.id }}</li>
                  <li class="list-group-item">{{ cliente.nombre }}</li>
                  <li class="list-group-item">{{ cliente.apellido }}</li>
                  <li class="list-group-item">{{ cliente.correo }}</li>
                  <li class="list-group-item">{{ cliente.region.region}}</li>
                  <li class="list-group-item">{{ cliente.fecha}}</li>
                  <!--Formato de fecha usando pipe-->
                  <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="list-group-item">
                    <div class="input-group">
                      <input (change)="seleccionarFoto($event)"
                        type="file"
                        class="form-control"
                        id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04"
                        aria-label="Upload"/>
                      <button [disabled]="!imgSeleccionada"
                        (click)="subirFoto()"
                        class="btn btn-outline-primary"
                        type="button"
                        id="inputGroupFileAddon04"
                        accept="image/png, image/gif, image/jpeg">
                        Subir imagen
                      </button>
                    </div>
                  </li>
                </ul>

                <div *ngIf="progress > 0" class="progress">
                  <div class="progress-bar progress-bar-striped"
                    role="progressbar"
                    [ngStyle]="{ width: progress + '%' }"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    {{ progress }}%
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/factura/form', cliente.id]" type="button" name="btnCrearFactura" class="btn btn-primary btn-sm">Crear factura</button>
            </div>
            <div class="row my-5">
              <div *ngIf="cliente.facturas.length == 0" class="alert alert-info my-5 text-center">
                Sin registros de facturas para el cliente {{cliente.nombre}} {{cliente.apellido}}
              </div>
              <div >
              <div class="table-responsive">
                <table *ngIf="cliente.facturas.length > 0" class="table table-success table-striped table-hover">
                  <thead>
                    <th>Folio</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Descripción</th>
                    <th>Observaciones</th>
                    <th>Opciones</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let factura of cliente.facturas">
                      <td class="text-center">{{factura.id}}</td>
                      <td>{{factura.fecha}}</td>
                      <td>{{factura.total | currency: 'USD'}}</td>
                      <td>{{factura.descripcion}}</td>
                      <td>{{factura.observacion}}</td>
                      <td>
                        <button *ngIf="authService.isAuthenticated()" class="btn btn-success btn-sm"
                        [routerLink]="['/factura', factura.id]">Ver</button>&nbsp;
                        <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-danger btn-sm"
                        (click)="deleteFactura(factura)">Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

