<h2 class="text-center">Listado de clientes</h2><br><br>
<div class="my-2 text-left">
  <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rouinded btn-primary" [routerLink]="['/cliente/formulario']">Registrar cliente</button>
</div>
<div class="table-responsive">
  <table *ngIf="clientes?.length > 0" class="table table-striped table-secondary table-hover">
    <thead>
      <tr>
        <th *ngIf="authService.isAuthenticated()" scope="col">Img</th>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td *ngIf="authService.isAuthenticated()">
          <div>
            <img *ngIf="cliente?.imagen == null"
            src="http://localhost:8080/imagenes/blank-user-img.jpg"
            alt="" style="width: 60px; cursor: pointer"
            class="img-thumbnail rounded"/>
          <img *ngIf="cliente?.imagen"
            src="http://localhost:8080/apiCliente/uploads/img/{{cliente.imagen}}"
            alt="{{ cliente.imagen }}" style="width: 60px; cursor: pointer"
            class="img-thumbnail rounded"/>
          </div>
        </td>
        <td scope="row">{{cliente.id}}</td>
        <td>{{cliente.nombre | uppercase }}</td>
        <td>{{cliente.apellido}}</td>
        <td>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="btnEditar" [routerLink]="['/cliente/formulario', cliente.id]" class="btn btn-warning btn-sm">Editar</button>&nbsp;
          <button *ngIf="authService.isAuthenticated()" (click)="abrirModal(cliente)" type="button" name="btnDetalle" class="btn btn-success btn-sm">Ver detalle</button>&nbsp;
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="eliminarCliente(cliente)" type="button" name="btnEliminar" class="btn btn-danger btn-sm">Eliminar</button>&nbsp;
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/factura/form', cliente.id]" type="button" name="btnCrearFactura" class="btn btn-secondary btn-sm">Crear factura</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<paginador-nav *ngIf="ppaginador" [paginadorr]="ppaginador"></paginador-nav>
<div *ngIf="clientes?.length == 0" class="alert alert-info">
  Sin registros de clientes
</div>

<!--COMPONENTE DETALLE-->
<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>
