<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let error of errores">
    {{ error }}
  </li>
</ul>

<div class="card bg-dark text-white my-5">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          [(ngModel)]="cliente.nombre"
          #nombre="ngModel"
        /><!--required minlength="3" -->
        <div
          class="alert alert-danger"
          *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        >
          <div *ngIf="nombre.errors.required">
            Nombre del cliente requerido.
          </div>
          <div *ngIf="nombre.errors.minlength">
            Nombre de cliente debe contener almenos tres caracteres.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          name="apellido"
          [(ngModel)]="cliente.apellido"
          #apellido="ngModel"
        /><!--required="" minlength="3" -->
        <div
          class="alert alert-danger"
          *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
        >
          <div *ngIf="apellido.errors.required">
            Apelllido del cliente requerido.
          </div>
          <div *ngIf="apellido.errors.minlength">
            Apellido de cliente debe contener almenos tres caracteres.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          name="correo"
          [(ngModel)]="cliente.correo"
          #correo="ngModel"
        /><!--required="" minlength="5"  ngModel [email]="true"-->
        <div
          class="alert alert-danger"
          *ngIf="correo.invalid && (correo.dirty || correo.touched)"
        >
          <div *ngIf="correo.errors.required">
            Correo del cliente requerido.
          </div>
          <div *ngIf="correo.errors.minlength">
            Correo de cliente debe contener almenos 5 caracteres.
          </div>
          <div *ngIf="correo.errors.email">
            Favor de ingresar un correo valido: usuario@ejemplo.com
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="cliente.fecha" name="createAt" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
        </div>
      </div>


      <label for="region" class="form-label">Región</label><br>
       <select [compareWith]="compararRegion" class="form-control form-select mb-3" [(ngModel)]="cliente.region" name="region" aria-label="Default select example">
        <option [ngValue]="undefined">Seleccionar región</option>
        <option *ngFor="let region of regiones" [ngValue]="region">{{region.region}}</option>
      </select>

      <button
        [disabled]="!clienteForm.form.valid"
        *ngIf="!cliente.id; else elseBlock"
        (click)="registrarCliente()"
        role="button"
        class="btn btn-primary"
      >
        Guardar nuevos datos
      </button>
      <ng-template #elseBlock>
        <button
          [disabled]="!clienteForm.form.valid"
          (click)="modificarCliente()"
          role="button"
          class="btn btn-primary"
        >
          Guardar modificación datos
        </button>
      </ng-template>
    </form>
  </div>
</div>
