<div class="card border-primary">
  <div class="card-header bg-primary text-center text-white">
    {{titulo}}
  </div>
  <div class="card-body">
    <form method="post">
      <div class="mb-3">
        <label for="usuarioNombre" class="form-label">Nombre de usuario.</label>
        <input [(ngModel)]="usuario.username" required autofocus type="text" class="form-control" id="usuarioNombre" name="usuarioNombre" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña.</label>
        <input [(ngModel)]="usuario.pass" required name="contrasena" type="password" class="form-control" id="contrasena">
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="login()" value="Acceder" type="submit" class="btn btn-primary btn-block" name="">Acceder</button>
      </div>

    </form>
  </div>
</div>
